*{
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

.logo {
    display: block;
    width: 200px;
    margin: 25px auto;
    padding-top: 250px;
}

nav {
    width: 100%;
    text-align: right;
}

nav a {
    padding: 5px;
    font-size: .9em;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

form {
    text-align: center;
    padding-top: 5px;
}

input[type="text"] {
    font-size: 14px;
    height: 42px;
    width: 500px;
    border-radius: 24px;
    padding-left: 15px;
    /*background-image: url(loupe.png);
    background-size: 15px;
    background-position: 13px 12px;
    --background-position: right ;
    background-repeat: no-repeat;*/
}

input[type="submit"] {
    background-color: #288a5e83;
    color: white;
    font-size: 16px;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 5px;
    padding: auto;
    height: 38px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #288a5e83;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: 1px solid #1c5f4183;
}

